h3 {
  color: rgb(17, 0, 255);
}

li {
  font-size: 20px;
  color: blueviolet;
  background-color: #92cde955;
}

#p-tag {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 2px;
  text-align: left;
}

.big-text {
  font-size: 35px;
}

body {
  background-color: rgba(158, 221, 138, 0.5);
}
